.hero_area {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg1.jpg);
  background-size: cover;
  background-position: center;
}



.header_section {
  background-color: #1c1c1c;
  margin-top: 15px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link, .custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #d93c9d;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #d93c9d;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}




.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #ffffff;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-right: 5px;
}

.quote_btn-container a:hover {
  color: #d93c9d;
}

.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail_box {
  color: #ffffff;
}

.slider_section .detail_box h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #d93c9d;
  color: #ffffff;
  border-radius: 30px;
  margin-top: 15px;
}


.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box p {
  color: #999;
  margin-top: 25px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #d93c9d;
  color: #ffffff;
  border-radius: 30px;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #bd2583;
}

.about_section .row{
  padding-top: 10%;
}

.about_section .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

